
{% extends 'electronics/base.html' %}

{% block content %}
    <h2>Cerca dati nel database</h2>

    <form action="/search">
        <label for="modello"> nome del modello:</label>
        <input type="text" id="modello" name="modello"><br><br>
        <input type="submit" value="Cerca">
    </form>

    <div class="list-group">
    
        {% for inst in extracted_data %}
    
            <form action="{{ inst.pk }}/">
                <button type="submit" class="list-group-item list-group-item-action" >
                {{ inst.title }} -- {{inst.content}}
                </button>
            </form>
        {% endfor %}
    
    </div>
{% endblock %}