
{% extends 'electronics/base.html' %}

{% block content %}
    <h2>Cerca dati nel database</h2>

    <form action="/search">
        <label for="modello"> nome del modello:</label>
        <input type="text" id="modello" name="modello"><br><br>
        <input type="submit" value="Cerca">
    </form>
    {% if extracted_data %}
        <ul>
            {% for k, i in extracted_data %}
            <li>
                <a> {{ k }} </a>{{ i }}
            </li>
            {% endfor %}

        </ul>
    {% endif %}

{% endblock %}