

{% extends 'electronics/base.html' %}

    {% block content %}

    <h2 align="center">Inserimento dei dati nel database</h1>


    <form action="/categories/" method="post">
        {% csrf_token %}
    <div class="mb-3">

        <input type="text" class="form-control" name="marca" id="marca" placeholder="Marca del modello" bgcolor="#3d3d3d">
    </div>

    <div class="mb-3">

        <input type="text" class="form-control" name="modello" id="modello" placeholder="Modello del telefono">
    </div>
    <input type="submit" value="Inserisci">
    </form>

    {% comment %} ################################################################# {% endcomment %}

    {% endblock %}

