{% extends 'electronics/base.html' %}

{% block content %}

<br>



  <div class="container">
    <div class="row">
      <div class="col-sm">
        Id
      </div>
      <div class="col-sm">
        {{ extracted_data.pk }}
      </div>
    </div>

    <div class="row">
        <div class="col-sm">
            Marca
        </div>
        <div class="col-sm">
            {{ extracted_data.title }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
            Modello
        </div>
        <div class="col-sm">
            {{ extracted_data.content }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
            Data creazione
        </div>
        <div class="col-sm">
            {{ extracted_data.time_create }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
            Data ultima Modifica
        </div>
        <div class="col-sm">
            {{ extracted_data.time_update }}
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
            Sitema operativo
        </div>
        <div class="col-sm">
            {{ extracted_data.opsys.name }}
        </div>
      </div>
  </div>
<br>
<form action="/deletedata/{{extracted_data.pk}}/" method="get"
align="center">
<!-- <input type="submit" value="Cancella" > -->
<button type="submit" class="btn btn-danger" align="center">Cancella</button>


</form>
<form action="{{url_update}}" method="get" align="center">
    <!-- <input type="submit" value="Modifica" > -->
    <button margin="10px" type="submit" class="btn btn-secondary">Modifica</button>
</form>

{% endblock %}

