<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="mystyle.css">
        <title>Document</title>

    </head>
    <body>
        <form action="/categories">
            <input type="submit" value="Inserimento Dati">
        </form>

        <form action="/categories">
            <input type="submit" value="Cancellare Dati">
        </form>

        <form action="/search">
            <input type="submit" value="visualizzare Dati">
        </form>

    </body>
</html>